:root{
   --main:#EEEBDD;
    --accent:#810000;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Open Sans', sans-serif;;
}
html{
    scroll-behavior:smooth;
}
html::-webkit-scrollbar{
    width:8px
}
html::-webkit-scrollbar-thumb{
    background:var(--accent);
    border-radius:10px 0 0 10px;
    position:relative;
    border:1px solid var(--main)
}

html::-webkit-scrollbar-track{
    background:#b3b0a3
}
body{
    background:var(--main);
    overflow-x:hidden;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
    padding:10px 20px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
nav img{
    width:8em;
}
.right-nav{
    display:flex;
    gap:45px;
    align-items:center;
    justify-content:flex-start;
    width:12%;
}
.contact-button{
    border:2px solid var(--main);
    outline:none;
    background:var(--accent);
    color:var(--main);
    padding:16px 20px;
    border-radius:35px;
    cursor:pointer;
    transition:0.2s ease-in-out;
    z-index:3;
}
.contact-button:hover{
    background:var(--main);
    color:var(--accent);
    border:2px solid var(--accent)
}

.scroll-contact{
    animation:animateTo 0.3s linear forwards;
}
@keyframes animateTo{
    0%{
        position:static;
    }
    20%{
        position:absolute;
        bottom:80%;
    }
    50%{
        bottom:50%;
    }
    100%{
        position:fixed;
        bottom:1%;
        right:2%;
    }
}
.menu-button{
    width:45px;
    display:grid;
    grid-template-columns:1fr;
    gap:5px;
    position:fixed;
    right:20px;
    z-index:99;
    cursor:pointer;
}
.menu-button > *{
    height:6px;
    width:80%;
    border-radius:10px;
    background:var(--accent);
    border:2px solid var(--main)
}
.menu{
    height:100vh;
    width:60%;
    position:fixed;
    top:0;
    right:-60%;
    background:#810000fa;
    transition:0.4s ease-in-out;
    padding:100px 30px;
    z-index:3;
}
.menu-body{
    height:100%;
    width:100%;
    display:flex;
}
.menu-open{
    transform:translateX(-60%);
}
.nav-links ul{
    display:grid;
    grid-template-columns:1fr;
    gap:30px;
    list-style-type:none;
}
.nav-links ul li{
    position:relative;
}
.nav-links ul li:hover::after{
    content:'';
    display:block;
    width:5em;
    height:2px;
    background:var(--main)

}

.nav-links ul li a{
    font-size:2rem;
    color:var(--main);
    text-decoration:none;
    text-transform:uppercase;
}



.active_page{
    background:var(--accent);
    border:2px solid var(--main)
}
.hero,.tools-hero{
    height:100vh;
    width:100%;
    background:var(--main);
    padding:150px 50px;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.hero h1{
    font-size:3em;
    text-align:center;
    color:var(--accent)
}
.bold-text{
    font-size:1.5em;
    font-weight:600;
    text-align:center;
    margin:30px auto
}
.scroll_ind{
    position:absolute;
    bottom:10%;
    left:50%;
    transform:translateX(-50%);
    z-index:0;
}

.scroll_ind_arrow{
    animation:ind_Down 2s linear infinite;
}

@keyframes ind_Down {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(20px);
    }
    100%{
        transform:translateY(0px);
    }
}
.first_impressions{
    height:100vh;
    width:100%;
    background:var(--accent);
    padding:100px 40px;
    position:relative;
    border:10px solid var(--main);
    border-radius: 35px;
}
.impressions_content{
    display:grid;
    grid-template-columns:repeat(2,1fr);
}

.impressions_content h2{
    color:var(--main);
    font-size:2.75rem;
}

.impression_text p{
    font-size:1.5rem;
    margin:50px 0;
    color:var(--main);
}
.impression_list{
    display:grid;
    grid-template-columns:1fr;
    gap:25px
}
.impression_list > *{
    width:100%;
    display:none;
    align-items:flex-start;
    gap:15px;
    transition:0.4s ease
}
.remove-hidden{
    display:flex;
    animation:displayImp 0.3s linear forwards
}

@keyframes displayImp {
    0%{
        opacity:0;
        display:flex;
        transform:translateY(100%)
    }
    50%{
        opacity:0.5;
        display:flex;
        transform:translateY(10%) 
    }
    100%{
        transform:translateY(0%)
    }
}
.upsell_text h4{
    color:var(--main);
    font-size:1.6rem;
}
.upsell_text p{
    margin-top:15px;
    color:var(--main);
    font-size:1.05rem;
    line-height:1.3rem;
}

.project_display > *{
    height:100vh;
    width:100%;
    padding:100px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.project_display h1{
    font-size:4rem;
    color:var(--accent)
}
.project__one{
    height:100vh;
    width:100%;
    position:relative; 
    background:var(--accent) url('../images/backgrounds/smoothieDisp.svg');
    background-attachment:fixed;
    background-position:center;
    background-size:55vw;
    background-repeat:no-repeat; 
    border:10px solid var(--main);
    border-radius: 35px;
    border-bottom:transparent;
}
.project__two{
    height:100vh;
    width:100%;
    position:relative; 
    background:var(--main) url('../images/backgrounds/cannabisDisp.svg');
    background-attachment:fixed;
    background-position:center;
    background-size:55vw;
    background-repeat:no-repeat; 
}
.project__three{
    height:100vh;
    width:100%;
    position:relative; 
    background:var(--accent) url('../images/backgrounds/pikeDisp.svg');
    background-attachment:fixed;
    background-position:center;
    background-size:55vw;
    background-repeat:no-repeat;
    border:10px solid var(--main);
    border-radius: 35px;
    border-top:transparent; 
    border-bottom:transparent;
}

.project__four{
    height:100vh;
    width:100%;
    position:relative; 
    background:var(--main) url('../images/backgrounds/smsDisp.svg');
    background-attachment:fixed;
    background-position:center;
    background-size:55vw;
    background-repeat:no-repeat; 
    border-top:transparent;
}
.developed{
    background:var(--accent);
    border:10px solid var(--main);
    border-radius: 35px;
    border-top:transparent; 
}
.developed h1{
    color:var(--main)
}
.skills{
    background:var(--main);
    height:fit-content;
    width:100%;
    padding:100px 80px;
}
.skills-body{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.skills-body h3{
    font-size:2rem;
    color:var(--accent)
}
.skill-card{
    padding:20px 15px;
    margin:0 auto;
    height:230px;
    width:80%;
    text-align:center;
    position:relative;
    display:flex;
    flex-direction: column;
    gap:20px;
    align-items:center;
    border:1px solid var(--accent)
}
.skill-card::after{
    content:'';
    display:block;
    height:6px;
    width:100%;
    border-radius: 5px 5px 0 0;
    position:absolute;
    bottom:0;
    left:0;
    background:var(--accent)
}

.main-light-button{
    border:2px solid var(--main);
    padding:12px 22px;
    color:var(--main);
    background:transparent;
    text-decoration:none;
    font-weight:600;
    cursor:pointer;
}

.main-dark-button{
    border:2px solid var(--main);
    padding:12px 22px;
    color:var(--main);
    background:var(--accent);
    text-decoration:none;
    font-weight:600;
    cursor:pointer;
}

.fixed-top{
    position:absolute;
    top:70%;
    left:50%;
    transform:translate(-50%,50%)
}

.contact-section{
    height:50vh;
    width:100%;
    background:#333;
    padding:100px 30px;
    border-radius:8px 8px 0 0;
}
.contact-section-body{
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    gap:50px;
}
.contact-section-body h1{
    font-size:2.5em;
    color:var(--main);
    text-align:center;
}
.contact-form{
    width:30%;
    margin:50px auto;
    display:grid;
    gap:20px;
    grid-template-columns:1fr;
}
.contact-form input{
    color:var(--main);
    outline:none;
    border:none;
    background:transparent;
    font-size:1.2rem;
    padding:8px 12px;
    border-bottom:1px solid var(--main);
}
.footer{
    height:fit-content;
    width:100%;
    background:var(--accent);
    border:10px solid var(--main);
    padding:80px 20px;
    position:relative;
}

.footer-head{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.social-links{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.social-links img{
    height:3em;
    width:3em;
}
.site-map{
    position:absolute;
    bottom:10px;
    left:20px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
}


@media (max-width:1020px) {
    .contact-button{
        display:none;
    }
    .menu{
        width:80%;
        right:-80%;
    }
    .menu-open{
        transform:translateX(-80%);
    }
    .project_display > *{
        height:50vh;
        width:100%;
        padding:100px 50px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .first_impressions{
        height:fit-content;
    }
    .impressions_content{
        display:grid;
        grid-template-columns:1fr;
        gap:50px;
    }
    
    .impressions_content h2{
        color:var(--main);
        font-size:2.75rem;
    }
    
    .impression_text p{
        font-size:1.5rem;
        margin:50px 0;
        color:var(--main);
    }
    .impression_list{
        display:grid;
        grid-template-columns:1fr;
        gap:25px
    }
    .impression_list > *{
        width:100%;
        display:none;
        align-items:flex-start;
        gap:15px;
    }
    .remove-hidden{
        display:flex;
        flex-direction:column;
        animation:displayImp 0.3s linear forwards
    }
    .upsell_text h4{
        color:var(--main);
        font-size:1.6rem;
    }
    .upsell_text p{
        margin-top:15px;
        color:var(--main);
        font-size:1.05rem;
        line-height:1.3rem;
    }
    .skills{
        height:fit-content;
    }
    .skills-body{
        grid-template-columns:repeat(1,1fr);
        gap:30px
    }
    
    .skills-body h3{
        font-size:2rem;
        color:var(--accent);
        margin-bottom:25px;
    }
    .skill-card{
        padding:20px 15px;
        margin:0 auto;
        position:relative;
        height:fit-content;
        width:100%;
        border:1px solid var(--accent);
        background:var(--main)
    }
    .skill-card::before{
        content:'';
        display:block;
        width:3px;
        height:30px;
        background:var(--accent);
        position:absolute;
        top:-30px;
        left:50%;
        transform:translateX(-50%);
    }
    .first-skill::before{
        height:130px;
        top:-130px
    }
    .contact-form{
        width:80%;
    }
        
}